/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&family=Jim+Nightshade&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(243, 227, 236);
    font-size: 1.3rem;
    font-family: 'GFS Neohellenic';
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Ctext x='50%25' y='50%25' dominant-baseline='middle' text-anchor='middle' style='font-size:24px;'%3E🫧%3C/text%3E%3C/svg%3E") 16 16, auto;
}

h2, h3, h4, h5, h6{
font-family: 'Jim Nightshade';
color: rgb(58, 19, 38);
text-align: center;
}

a {
    text-decoration: none;
}

.container {
    margin: 2rem;
}

.btn {
    padding: 12px 45px;
    background-color: rgb(172, 127, 143);
    font-family: 'GFS Neohellenic', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    color: rgb(37, 9, 25);
    border: none;
    border-radius: 15px;

}

.btn:hover {
    background-color: rgb(124, 70, 96);
    color: rgb(209, 181, 196);
    
}


